extends layout

block content
  
  div(class="buttonsCenter")
    div(class="buttonContainer")
      h1= title
      div(class="buttonDiv")
        <a href="/message/sign-in"><button>Log In</button></a>
      div(class="buttonDiv")
        <a href="/message/create"><button>Sign Up</button></a>

  h2 Messages
  

  dl
    each allMessages in message
      dt
        div(class='messageContainer')
          p(class="messageTitle") #{allMessages.title}
          p #{allMessages.text}

    else
      p There are no messages.
