extends layout

block content
  h1= title
  p Welcome to #{title}
  <a href="/message/sign-in">Log In</a>
  <a href="/message/create">Sign Up</a>

   h4 Messages
  

    dl
      each allMessages in message
        dt
          p #{allMessages.title}
        dd #{allMessages.text}

      else
        p There are no messages.
