body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.buttonDiv {
  border: solid;
  border-width: 0.1px;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: lightgrey;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.buttonsCenter {
  display: flex;
  justify-content: center;
}

.messageTitle {
  font-weight: bold;
}

.messageContainer {
  border-bottom: solid;
  border-width: 0.1px;
}

button {
  border-radius: 20px;
  background-color: lightgrey;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.formContainer {
  padding-bottom: 10px;
}

form {
  font-size: 18px;
}

form > div {
padding-bottom: 10px;

}

input {
  border-radius: 5px;
}
